.ajaxblock-preloader {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    /*background:#CCCCCC;*/
    opacity:0.5;   
}

.ajaxblock-preloader .icon {
    background:url(ajax-loader.gif) center center no-repeat;
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}
